/* All */
* {
    font-family: Montserrat;
    scroll-behavior: smooth;
    padding: 0;
    margin: 0;
}

header, section, footer {
    position: relative; 
}

.judul {
    font-weight: 550;
    color: white;
}

.paragraf {
    font-weight: 400;
    color: white;
}



/* Navbar */
#header {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: white;
    transition: background-color 0.6s ease-in-out;
}

#header::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(135deg, #2039d8, #048a3c);
    transition: opacity 0.6s ease-in-out;
    z-index: -1;
    opacity: 1;
}

#header.scrolled::after {
    opacity: 0;
}

#header.scrolled-remove::after {
    opacity: 1;
}

.navbar-brand {
    color: white;
    transition: color 0.6s ease-in-out;
}

#header.scrolled .navbar-brand, #header.scrolled .nav-link {
    color: black;
}

#header.scrolled .nav-link:hover {
    color: #22dd3e;
}

.nav-link {
    position: relative;
    color: white;
    font-size: 17px;
    text-decoration: none;
    padding-bottom: 5px;
    transition: color 0.3s ease-in-out;
}

.nav-link:hover {
    /* color: #2ce077; */

    color: #3c76ff;
}

.nav-link::after {
    content: "";
    position: absolute;
    left: 8px;
    bottom: 0;
    width: 0;
    height: 1px; /* ketebalan underline */
    background-color: #ffffff;
    transition: width 0.4s ease-in-out;
    z-index: 1;
}

.nav-link:hover::after {
    width: 79%;
}

#header.scrolled .nav-link::after {
    background-color: black;
}



/* Section - Home */
.home {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-image: url("gambar/gambarByoo1.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 100vh;
}

.home-huruf {
    color: white;
}



/* Section - About */
.about {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-image: url("gambar/gambarByoo2.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 100vh;
}

.tombol-about-link-div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.btn-tombol-about-kiri, .btn-tombol-about-kanan {
    width: 270px;
    padding: 10px 0;
    background: rgba(255, 51, 0, 0.3);
    color: #FFC108;
    border: 2px solid rgb(253, 139, 0);
    border-radius: 0;
    font-size: 1rem;
    transition: all 0.3s ease;
}

.btn-tombol-about-kiri:hover, .btn-tombol-about-kanan:hover {
    background: rgba(255, 0, 0, 0.5);
    color: white;
    border-color: rgb(220, 216, 216);
}



/* Section - Player */
.player {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-image: url("gambar/gambarByoo3.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 100vh;
}

.player h1 {
    margin-bottom: 50px;
    font-size: 35px;
}

.player .player-list-item {
    position: relative;
    list-style-type: none;
    padding: 4px 4px;
    margin-bottom: 25px;
    cursor: pointer;
}

.player .player-list-item::before {  /*efek garis*/
    content: "";
    position: absolute;
    left: 0%;
    bottom: 0;
    width: 0;
    height: 1px;
    background-color: white;
    transition: width 0.3s ease-in-out, left 0.3s ease-in-out;
}

.player .player-list-item::after { /*efek nama asli*/
    content: attr(data-name);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -30px;
    background-color: rgba(0, 0, 0, 0.75);
    color: rgb(255, 203, 30);
    padding: 4px 8px;
    border-radius: 5px;
    font-size: 12px;
    white-space: nowrap;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    pointer-events: none; /*jaga2 spy tdk mengganggu hover*/
}

.player .player-list-item:hover {
    color: #df33f5;
    transition: color 0.3s ease;
}

.player .player-list-item:hover::before {
    width: 20%;
    left: 40%;
}

.player .player-list-item:hover::after {
    opacity: 1;
}



/* Footer */
.footer {
    background: linear-gradient(135deg, rgb(16, 18, 59), rgb(0, 0, 0));
    font-size: 12px;
    text-align: center;
}

.footer a {
    text-decoration: none;
    color: white;
}

.footer a:hover {
    color: rgba(255, 143, 15, 0.961);
    text-decoration: underline;
    transition: color 0.4s ease-in-out, text-decoration 0.4s ease-in;
}



/* Media Query */
@media (max-width: 768px) {
    .about-mediaq {
        margin-bottom: 50px;
    }

    .footer {
        padding-left: 30px;
    }
}



/*observer scroll viewport*/
.fade-element {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.fade-element.visible {
    opacity: 1;
    transform: translateY(0);
}
