* {
    font-family: Montserrat;
    scroll-behavior: smooth;
    padding: 0;
    margin: 0;
}

section {
    position: relative; 
}

.judul {
    font-weight: 550;
    color: white;
}

.paragraf {
    font-weight: 400;
    color: white;
}

/* Navbar */
#header {
    position: sticky;
    top: 0;
    z-index: 1;
    width: 100%;
    transition: background-color 0.4s ease-in-out, box-shadow 0.4s ease-in-out;
    /* background: linear-gradient(135deg,#2ce077, #2039d8); */
    /* background: linear-gradient(135deg, #048a3c, #2039d8); */
    background: linear-gradient(135deg,#2039d8, #048a3c);
}

#header.scrolled {
    background: white;  
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

#header.scrolled .nav-link {
    color: black;
}

#header.scrolled .nav-link::after {
    content: "";
    position: absolute;
    left: 8px;
    bottom: 0;
    height: 1px;
    background-color: black; /* Warna underline saat discroll */
}

#header.scrolled .nav-link:hover::after {
    width: 79%; /* Sama seperti hover */
}

#header.scrolled .nav-link:hover {
    color: #2ce077;
}

#header.scrolled .navbar-brand{
    color: black;
}

.navbar-brand {
    color: white;
    transition: color 0.3s ease-in-out;
}

.nav-link {
    position: relative;
    color: white;
    font-size: 17px;
    text-decoration: none;
    padding-bottom: 5px;
    transition: color 0.3s ease-in-out;
}

.nav-link:hover {
    /* color: #2ce077; */

    color: #3c76ff;
}

.nav-link::after {
    content: "";
    position: absolute;
    left: 8px;
    bottom: 0;
    width: 0;
    height: 1px; /* ketebalan underline */
    background-color: #ffffff;
    transition: width 0.4s ease-in-out;
}

.nav-link:hover::after {
    width: 79%;
}


/* Section - Tentang Kami */
.home {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-image: url("../gambar/gambarByoo1.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 100vh;
}

.home-huruf {
    color: white;
}


/* Section - About */
.about {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-image: url("../gambar/gambarByoo2.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 100vh;
}


.footer {
    background: linear-gradient(135deg, rgb(15, 8, 59), rgb(13, 10, 32));
    color: white;
    font-size: 12px;
}